<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Stream Twitter</title>
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
      <meta http-equiv="cleartype" content="on">
      
      <link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="/static/stream_twitter.css" type="text/css" charset="utf-8">
      <script type="text/javascript" src="/static/basic.js"></script>
  </head>
<body>
    {% block nav %}
      {% include "stream_twitter/_nav.html" %}
    {% endblock nav %}
    {% block content %}
    {% endblock content %}
</body>