<header id="header" class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-logo" href="/">
        <h1 class="navbar-logo-title">Stream Twitter</h1>
      </a>
      </div>
    <div class="navbar-collapse collapse" id="header-collapse" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/timeline/">Timeline</a>
        </li>
        <li>
          <a href="/tweet/">Tweet</a>
        </li>
        <li>
          <a href="/follow/">Follow</a>
        </li>
        {% if login_user.is_authenticated and login_user %}
        <li>
          <a href="/user/{{ login_user }}">{{ login_user }}</a>
        </li>
        <li>
          <a href="/accounts/logout/">Log out</a>
        </li>
        {% else %}
        <li>
          <a href="/accounts/login/">Log in</a>
        </li>
        {% endif %}
        </ul>
    </div>
  </div>
</header>