{% load socialaccount %}
{% get_social_accounts user as accounts %}

<div class="user">
  <div class="user-picture">
    <a href="/user/{{ user.username }}/">
    {% if accounts %}
      <img class="profile-picture img-responsive" alt="Responsive image" class="user-picture" src="{{ accounts.github.0.extra_data.avatar_url }}">
    {% else %}
      <img class="profile-picture img-responsive" alt="Responsive image" class="user-picture" src="{{ user.userprofile.picture.url }}">
    {% endif %}
    </a>
  </div>
  <div class="user-basic-info">
    <span class="user-basic-info-name">{{ user.first_name }} {{user.last_name}}</span>
    <a href="/user/{{ user.username }}/"><span class="user-basic-info-id">@{{ user.username }}</span></a>
  </div> 
  <div class="user-description">
      {{ user.userprofile.description }}
  </div>
</div>