{% extends 'stream_twitter/_base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    {% for one in following %}
    <div class="col-md-3 col-xs-6">
      <div class="user">
      {% include "stream_twitter/_user.html" with user=one.0 %}
      <div class="follow-button">
       <form action="" method="post">{% csrf_token %}
        <input type="hidden" id="id_target" name="target" value="{{one.0.id}}">
        <button type="submit" class="btn btn-primary" value="Create" />
        {% if one.1 %}
          Unfollow
        {% else %}
          Follow
        {% endif %}
        </button> 
      </form>
      </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:'4' %}
    <div class="clearfix visible-md-block visible-lg-block"></div>
    {% elif forloop.counter|divisibleby:'2' %}
    <div class="clearfix visible-sm-block visible-xs-block"></div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="row">
    <div class="">
<!--     <form action="" method="post">{% csrf_token %}
 {% for field in form %} 
      {{ field.label_tag }}: {{ field }}
    {% endfor %} 
   <button type="submit" value="Create" />Create</button>
  </form> -->
</div>
</div>
</div>

{% endblock content %}



