div.container {
    position: absolute;
}

div.timeline-container {
    position: relative;
}

div.timeline-content {
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    text-align: left;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}

div.content {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

div.activity {
    position: relative;
    background-color: #FFF;
    padding: 20px;
}

span.activity-text {
    color: #5E799B;
}

span.hashtag {
    font-weight: bold;
}

span.mention {
    font-weight: bold;
}

span.user {
    font-weight: bold;
}

body {
    color: #2B4155;
}