div.user-picture {
    padding: 20px;
}

div.activity {
    background-color: #FFF;
    padding: 20px;
    margin: 20px;
}

div.user {
    background-color: #FFF;
    margin-top: 20px;
}


div.activity-text {
    top: 0px;
    color: #5E799A;
}

span.hashtag {
    font-weight: bold;
}

span.mention {
    font-weight: bold;
}

div.user-name {
    font-size: 18px;
    font-weight: bold;
}

div.user-basic-info {
    padding: 0px 20px 0px 20px;
}

div.user-description {
    margin-top:10px;
    padding: 0px 20px 10px 20px;
}

div.welcome {
    margin-top:30px;
    text-align: center;
}

div.follow-button {
    text-align: center;
    padding-bottom: 10px;
}

div.hashtags {
    text-align: center;
    color: #FFF;
}

div.timeline-content {
    margin: 20px;
}

span.user-basic-info-name {
    font-size: 20px;
    display: block;
}

img.tweet-profile {
    min-width: 50px
}

img.profile-picture {
    min-width: 100px;
}

h1.welcome-title {
    font-size: 80px;
    color: #FFF;
}

a.hashtag {
    color: #FFF;
    font-size: 20px;
}

/*body {
    color: #2B4155;
}